.custom-input {
    height: 100px; 
    text-align: left; 
    padding-top: 10px; 
    overflow: hidden; 
    line-height: 1.2; 
  }

button {
    position: relative;
    z-index: 2;
    top: 30px;
    margin-left: 13px;
}